:root {
  --foreground: #181818;
  --foregroundLight: #999;

  --neutral: #256920;
  --neutralLight: #fff;

  --accent: #34A82D;
  --accentDark: #34A82D;

  --success: #25a75c;
  --successLight: #28b463;

  --warning: #ea940c;
  --warningLight: #f39c12;

  --danger: #e53f2e;
  --dangerLight: #e74c3c;
}


.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

/* labels */
.accent {
  color: var(--accent);
}
.success {
  color: var(--success);
}
.warning {
  color: var(--warning);
}
.danger {
  color: var(--danger);
}
.light {
  color: var(--foregroundLight);
}

/* links */
a:link,
a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--accentDark);
}

hr {
  border: 1px dotted var(--neutral);
  border-bottom: none;
  margin: 4px 0;
}

/* images */
img {
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.15s;
  border-color: #696969 !important;
}

img:hover {
  border-color: var(--neutral) !important;
}

/* inputs */
input[type='text'],
input[type='button'],
input[type='number'],
select {
  box-sizing: border-box;
  font-size: 12px;
}

input[type='button'],
input[type='checkbox'] {
  cursor: pointer;
  color: #181818 !important;
}

input[type='button'] {
  min-width: 50px;
  color: var(--neutralLight);
  border: 0;
  padding: 3px 10px;
  transition: background 0.15s;
}
input[type='button']:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* accent */
input[type='button'].accent {
  background: var(--accent);
}
input[type='button'].accent:hover,
input[type='button'].accent:focus,
input[type='button'].accent:active {
  background: var(--accent);
}

/* success */
input[type='button'].success {
  background: var(--successLight);
}
input[type='button'].success:hover,
input[type='button'].success:focus,
input[type='button'].success:active {
  background: var(--success);
}

/* warning */
input[type='button'].warning {
  background: var(--warningLight);
}
input[type='button'].warning:hover,
input[type='button'].warning:focus,
input[type='button'].warning:active {
  background: var(--warning);
}

/* danger */
input[type='button'].danger {
  background: var(--dangerLight);
}
input[type='button'].danger:hover,
input[type='button'].danger:focus,
input[type='button'].danger:active {
  background: var(--danger);
}


/* =============== Scrollbar =============== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #88aa88; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #34A82D; 
}
/* =============== ========= =============== */

label {
  cursor: pointer;
  display: inline-flex;
}

body {
  font: 13px/1.5em 'Lucida Grande', Arial, sans-serif;
  margin: 20px;
  padding: 0px 2px 0 0; /* compensate for browser defaults */
  min-width: 400px;
  min-height: 150px;
  box-sizing: border-box;
  background-color: #181818;
  color: white;
}

.grid {
  width: 100%;
  border-collapse: collapse;
}

.grid td {
  padding: 0 2px;
}
.grid td input[type='text'],
.grid td input[type='button'],
.grid td input[type='number'],
.grid td select {
  width: 100%;
}

#filters_container {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 90%;
  padding: 12px 15px 10px 15px; /* compensate for browser defaults */
  background: #181818;
  color: white;
  border: 3px solid #585858;
  border-radius: 5px;
  box-shadow: #181818 0px -20px 60px 30px;
}

#filters_container input[type='text'],
#filters_container input[type='button'],
#filters_container input[type='number'],
#filters_container select {
  height: 26px;
  margin-bottom: 4px;
}

#images_cache {
  display: none;
}

#images_table {
  margin-top: 25px;
}

#images_table img {
  cursor: pointer;
  margin: 10px !important;
  padding: 5px;
}

.open_image_button,
.download_image_button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

#download_button {
  border-radius: 5px !important;
  color: white !important;
}